/* Components for the entire page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background color of the <body> of the page */
body {
    background-color: #d9dcd6;
}

/* Font-size of all the small text in the <p> elements */
p {
    font-size: 16px;
}

/* Link details */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Details regarding the header on the top of the page */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Edits for the h1 header on the top left of the page */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Edit for the "seo" section of the header */
header h1 span {
    color: #d9dcd6;
}

/* Navigation details on the top right of the page */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Details for the list as a whole in the navigation section */
header nav ul {
    list-style-type: none;
}

/* Details for each list in the unordered list */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Details for the image under the "figure" element */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Overall look of the "main" element on the site */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* The details for the sections within the main element */
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Height for the images in the main section */
main section img {
    max-height: 200px;
}

/* Controls the image location of the first and third boxes of the <main> section */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Controls the image location of the second box of the <main> section */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Makes all the h2 headers in the main element this specific margin size on the bottom and font-size */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* This represents the overall style and edits in the aside section on the right side of the page */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* For the spacing in between each section element class on the right side of the page */
aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Details for the headers within each section in aside */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Image details within the aside section */
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Edits the font, text alignment, and box details of the footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Font size of header in the footer */
h4 {
    font-size: 20px;
}
